@import '../utilities/variables.sass'
@import '../base/typo.sass'

main    
    min-height: 80vh
 

a
    text-decoration: none
    @include link-text(400)
    color: $primary-color

    &:hover
        color: $secondary-color
        transform: scale(1.05)

ul
    list-style: none
