.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.pagination .page-item {
  margin: 0 5px;
}

.pagination .page-link {
  padding: 10px;
  border: none;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
}

.pagination .page-link:hover {
  background-color: #0056b3;
}

.pagination .active .page-link {
  background-color: #0056b3;
}