// Variables SCSS
$primary-color-light: #852133;
$secondary-color-light: #cd3551;
$card-color-light: #f9f9f9;
$error-color-light: #A60321;
$text-color-light: #000;
$text-color-description-light: #666;
$background-light: #fff;

$primary-color-dark: #42101A;
$secondary-color-dark: #cd3551;
$card-color-dark: #42101A;
$error-color-dark: #cd3551;
$text-color-dark: #fff;
$text-color-description-dark: #f9f9f9;
$background-dark: #000;

$border-radius: 8px;
