
// Colores base light
$primary-color: #A62940
$secondary-color: #e8cc40
$card-color: #E7E7E7
$error-color: #A60321

//Colores base dark
$primary-color-dark: #42101A
$secondary-color-dark: #E8C519
$card-color-dark: #42101A
$error-color-dark: #cd3551

// Colores de texto
$text-color-light: #000
$text-color-dark: #fff

// Colores de fondo
$background-light: #fff
$background-dark: #000

// Bordes y sombras
$border-light: 3px solid #000 
$border-dark: 3px solid #fff 
$border-radius: 10px
