//Card comic

.contenedor__comic 
  border: 3px solid #000 
  border-radius: 8px 
  overflow: hidden 
  transition: transform 0.2s 
  margin: 16px
  width: 16rem
  background-color: #f9f9f9 

  &:hover 
    transform: scale(1.05)

.comic__imagen 
  width: 100% 
  height: 22rem 

.comic__info 
  padding: 16px 
  background-color: #f9f9f9
  h1 
    font-size: 16px
    color: #000 
    margin: 0 
    text-align: center 
    font-weight: bold 