// Card evento
.card__evento 
  display: flex 
  flex-direction: column
  width: 24rem
  border-radius: 8px 
  margin: 16px 8px // Margen superior e inferior
  transition: transform 0.2s // Transición suave al hacer hover
  border: 3px solid #000 

  &:hover 
    transform: scale(1.02) // Aumentar ligeramente el tamaño 


.evento__imagen 
  width: auto 
  height: auto
  img 
    width: 100% 
    height: auto 

.evento__info 
  padding: 16px // Espaciado interno
  background-color: #f9f9f9

  h1 
    font-size: 18px 
    color: #000 
    margin: 0

  p 
    font-size: 14px 
    color: #666 