// Card evento
@import '../utilities/variables.sass'
@import '../base/typo.sass'

.card__evento 
  display: flex 
  flex-direction: column
  width: 24rem
  height: 40rem
  background-color: $card-color
  border-radius: $border-radius
  margin: 16px 8px
  transition: transform 0.2s // Transición suave al hacer hover
  border: $border-light 
  

  &:hover 
    transform: scale(1.02) // Aumentar el tamaño 


.evento__imagen 
  width: auto 
  height: auto
  img 
    width: 100% 
    height: auto 

.evento__info 
  padding: 16px // Espaciado interno
  overflow-y: auto
  scrollbar-width: thin
  scrollbar-color: #E08D9C #e7e7e7

  h1 
    @include title-text(600)
    color: #000 
    margin: 0
    text-align: center

  p 
    color: #666 
    @include description-text