@import '../utilities/_variables.sass'
@import '../utilities/_mixins.sass'

.contenedor__comic 
  border: $border-light 
  border-radius: $border-radius
  overflow: hidden 
  transition: transform 0.2s 
  margin: 16px
  width: 16rem
  background-color: $card-color 
  display: flex 
  flex-direction: column 
  justify-content: space-between 

  &:hover 
    transform: scale(1.05)

.comic__imagen 
  border: $border-light
  width: 100% 
  height: 22rem 

.comic__info 
  padding: 16px 
  display: flex
  flex-direction: column
  align-items: center
  max-height: 12rem

  
.info__titulo
    @include title-text
    color: $text-color-light
    margin: 0 
    text-align: center 

.info__favorito
  margin-top: auto 
  
  