@import '../utilities/variables';

// Animación de rebote
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.scroll__flecha {
  position: fixed;
  bottom: 8rem;
  right: 1rem;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  border-radius: 50%;
  border: var(--border-width, 4px) solid var(--border-color); 
  transition: all 0.3s ease;
  animation: bounce 2s infinite;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -25%) rotate(45deg);
    background-color: var(--primary-color); 
    content: ''; 
    border-radius: inherit; 
  }

  &:hover {
    transform: scale(1.1);
    animation-play-state: paused;
  }
}
