// ListaComics.sass

.container__listaComics 
  display: flex // Usar flexbox para alinear los elementos
  
  overflow-x: auto // Permitir desplazamiento horizontal
  

.listaComics 
  display: flex // Asegurar que los cómics se alineen en una fila
  flex:row
  flex-wrap: nowrap // Evitar que los elementos se envuelvan a la siguiente línea
  max-height:500px