// ListaEventos.scss

.container__listaEventos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--background-light); 
  border-radius: var(--border-radius); 
}


