// ListaComics.sass

.container__listaComics 
  display: flex 
  overflow-x: auto
  scrollbar-width: thin
  scrollbar-color: $primary-color $card-color

  

.listaComics 
  display: flex 
  flex:row
  flex-wrap: nowrap 
  gap: 2rem
