// Pagination.sass
@import '../utilities/_variables.sass'
@import '../utilities/_mixins.sass'
@import '../base/_typo.sass'

.container__pagination
    width: 100%
    display: flex
    justify-content: center
    

.pagination__list
    display: flex
    gap: 16px
     
.flecha
  width: 4rem
  height: auto
  cursor: pointer


.item__numero
    color: $primary-color
    @include title-text-init
    font-size: 3rem
    border-radius: $border-light
    padding: 10px 15px
    cursor: pointer
    background-color: $background-light
    

/* Efecto hover */
.flecha:hover 
    transform: scale(1.4)


/* Efecto activo (cuando se hace clic) */
.flecha:active 
    transform: scale(0.95)
