// Pagination.sass
@import '../utilities/variables.sass'
@import '../base/typo.sass'

.container__pagination
    width: 100%
    display: flex
    justify-content: center
    

.pagination__list
    display: flex
    gap: 16px
     
.flecha
  width: 4rem
  height: auto
  cursor: pointer


.item__numero
    color: $primary-color
    @include title-text-init(700)
    font-size: 40px
    border: 2px
    border-radius: 30px
    padding: 10px 15px
    cursor: pointer
    background-color: white
    transition: background-color 0.3s, transform 0.2s


/* Efecto hover */
.item__numero:hover 
    color: $primary-color-dark
    transform: scale(1.4)


/* Efecto activo (cuando se hace clic) */
.item__numero:active 
    transform: scale(0.95)
