@import '../utilities/variables';
@import '../base/typo';

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0.2rem 1rem;

  &__imagen {
    width: 100%;
    height: 6rem;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    z-index: -1;
    opacity: 0.3;
  }

  &__logo {
    height: 6rem;
  }

  &__menu {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    gap: 1rem;
  }
}

.menu__opcion {
  padding: 0.1rem 0.5rem;
  border-radius: 12px;
}

.theme-icon {
  cursor: pointer;
  transition: color 0.3s ease;

  &--light {
    color: #000000; 
  }

  &--dark {
    color: #FFD700; 
  }
}
