@import '../utilities/variables';
@import '../base/typo';

.contacto__formulario {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    padding: 4rem;
    gap: 4rem;
}

.formulario__imagen {
    object-fit: cover;
    height: 100%;
    border: var(--border-width, 1px) solid var(--border-color); 
    border-radius: var(--border-radius); 
    margin-top: 6rem;
}
