//Página de inicio
@import '../utilities/variables.sass'
@import '../base/typo.sass'

h1
    @include title-text-init(800)
    font-size: 500%
    color: black
    margin: 4rem
    text-align: center
