//Página de inicio
@import '../utilities/variables.sass'
@import '../base/typo.sass'

h1
    @include title-text(800)
    font-size: 300%
    color: $primary-color 
    margin: 4rem
    text-align: center
